.header {
  background-color: #527f73;
  padding: 20px;
  color: white;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #4c86af;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #59935c;
}

